.root {
    -fx-font-family: "microsoft yahei", SimSun, "ST Song", "Ubuntu Mono", Symbol, "Courier New", Arial;
}
/*
.root {
    -fx-background-image: url("page_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}*/
