/*
.button .text {
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.8), 0, 0.0 , 0 , -1 );
}

.button {
    -fx-background-color:
        rgb(255, 255, 255, 0.08),
        rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.button:focused, .button:hover {
    -fx-background-color:
        rgb(255, 255, 255, 0.08),
        rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#3f4950, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
}*/
