.text-field {
    -fx-background-image: url("../images/textfield_bg.jpg");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
    -fx-padding: 6pt 6pt;
    -fx-text-fill: #947057;
    -fx-font-size: 16pt;
    -fx-border-color: #1e90ff;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

#InputSubject {
    -fx-font-size: 16pt;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.2), 0, 0.0 , 1, 1 );
}

.check-box .text {
    -fx-font-size: 16pt;
}

.check-box .box {
    -fx-background-color:
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 1),
        -fx-outer-border,
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0 -1.6 -2 -1.6, -1.4, 0, 1, 2;
}

.check-box:focused .box {
    -fx-background-color:
        rgba(255, 255, 255, 0.15),
        rgba(0, 0, 0, 0.8),
        -fx-outer-border,
        -fx-inner-border,
        white;
}
