#fieldType {
    -fx-font-size: 13pt;
    -fx-fill: #8b0000;
}

#txtName {
    -fx-font-size: 18pt;
    -fx-fill: #2f4f4f;
}

#txtCreateTime {
    -fx-font-size: 10pt;
    -fx-fill: #6495ed;
}

#txtApkDirectory {
    -fx-font-size: 12pt;
    -fx-fill: #deb887;
}

#txtOutputDirectory {
    -fx-font-size: 12pt;
    -fx-fill: #deb887;
}